.all{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    
    justify-content: center;

    align-items: center;
}

.principal{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
}

.contright{
    display: flex;
    
    border-radius: 0px 10px 1.0px 0px;
    background-color: white ;
    flex-direction: column; 
    padding: 50px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.name{
    font-family: 'Fraunces', serif;
    font-size: 75px;
    color: hsl(212, 21%, 14%);
}

.desc{
    font-size: 32px;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
}

.precio{
    color: hsl(158, 36%, 37%) ;
    font-size: 50px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.costo{
    display: flex;
    align-items: center;
    gap: 3rem; /*Es una medida de lo que mide la fuente*/
}

.descuento{
    font-size: 20px;
    color:hsl(228, 12%, 48%); 
    text-decoration: line-through;
}

.btn{
    background-color: hsl(158, 36%, 37%) ;
    color: white;

    border-radius: 20px;
    border: none;
    padding: 20px ;

    font-size: 30px;

    font-family: 'Montserrat', serif;;
}

.icono{ 
    width: 20px;
    height: auto;
    
}

.img    {

    height: 100%;


}

.img img{
    height: 100%;
}

.attribution{
    flex: flex;
}